
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Carbon - {{title if title else 'DID Wallet'}}</title>

  <link rel="icon" href="/images/favicon.ico" />
  <link rel="icon" href="/images/logo.svg" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap">

  <link rel="stylesheet" href="/css/compiled/web-components.css" />
  <link rel="stylesheet" href="/css/compiled/head.css">

  {% for file in css %}
    <link rel="stylesheet" href="/css/{{file}}.css" />
  {% endfor %}

  <script type="module" src="/js/compiled/web-components.js"></script>

</head>