
<header id="header">
  <nav id="nav">
    <a id="logo" href="/ion">
      <img class="logo" src="/ion/images/logo-white.svg" />
    </a>
    <svg id="nav_toggle_icon"><use href="#menu-icon"></use></svg>
    <input id="nav_toggle" type="checkbox" onblur="this.checked = false;"/>
    <ul>
      <li>
        <a href="#">
          Foo
        </a>
      </li>
      <li>
        <a href="#">
          Bar
        </a>
        <ul>
          <li>
            <a href="#">
              Baz
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
