

#create_pairwise_did {
  display: block;
  margin: 0 auto;
}

#personas {
  display: flex;
  flex-direction: column;
}

#persona_list {
  order: 1;
  margin: 0.5em 0 0;
}

#persona_list:empty ~ * {
  display: none;
}