
:root {
  --no-color: 255,255,255;
  --dim-color: 225,225,225;
  --low-color: 200,200,200;
  --mild-color: 150,150,150;
  --mid-color: 100,100,100;
  --high-color: 50,50,50;
  --full-color: 0,0,0;

  --active-color: 85, 173, 235;
  --note-color: 255, 247, 203;
  --success-color: rgb(0, 141, 71);
  --warning-color: rgb(226, 192, 0);
  --error-color: rgb(182, 47, 47);
  --error-color-light: hsl(0, 100%, 85%);
  --info-color: rgb(0, 93, 155);

  --page-bk: rgb(var(--low-color));
  --page-text: rgb(var(--high-color));
  --page-text-hover: rgb(var(--full-color));
  --page-text-inverse: rgb(var(--no-color));

  --element-bk: rgb(var(--dim-color));
  --element-bk-hover: rgba(var(--mid-color), 0.5);
  --element-bk-transparent: rgba(var(--dim-color), 0.92);
  --element-bk-active: rgba(var(--active-color), 0.6);
  --element-border: rgba(var(--high-color), 0.4);
  --element-border-focus: rgb(var(--full-color), 0.75);
  --element-border-radius: 3px;
  --element-shadow-low: 0 1px 3px 0px rgba(var(--no-color), 0.25);
  --element-shadow-mid: 0 1px 3px 0px rgba(var(--no-color), 0.5);
  --element-shadow-high: 0 1px 5px 0px rgba(var(--no-color), 0.55);
  --element-shadow-active: 0 0 3px 3px rgba(var(--active-color), 0.9);

  --input-bk: rgba(var(--dim-color), 0.6);
  --input-border: rgba(var(--high-color), 0.4);

  --header-height: 3.5em;
  --header-bk: rgba(var(--low-color), 0.985);
  --header-blue-bk: rgb(51 71 91);
  --header-text: rgb(var(--full-color));
  --header-border: rgba(var(--full-color), 0.1);
  --header-border-inverse: rgba(var(--no-color), 0.3);

  --scrollbar-bk: #CFD8DC;
  --scrollbar-thumb: #90A4AE;

  --text-shadow: 0 1px 2px rgba(0,0,0,0.8);
  
  --svg-size: 2vw;
  
  --font-size: 14px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --no-color: 0,0,0;
    --dim-color: 40,40,40;
    --low-color: 60,60,60;
    --mild-color: 75,75,75;
    --mid-color: 85,85,85;
    --more-color: 135,135,135;
    --high-color: 200,200,200;
    --full-color: 255,255,255;
    /* --input-bk: rgba(var(--no-color), 0.3); */
  }
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: system-ui, sans-serif;
  font-size: var(--font-size);
  color: var(--page-text);
  background: var(--page-bk);
  scrollbar-color: var(--page-bk) var(--page-text);
}

body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  background: var(--page-text);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--page-bk) ;
  border-radius: 1em;
  border: solid var(--page-text);
}

*:not(body) {
  scrollbar-color: var(--page-text) var(--element-bk);
}
*:not(body)::-webkit-scrollbar {
  width: 1em;
}
*:not(body)::-webkit-scrollbar-track {
  background: var(--element-bk);
}
*:not(body)::-webkit-scrollbar-thumb {
  background-color: var(--page-text) ;
  border-radius: 1em;
  border: solid var(--element-bk);
}

header {
  display: flex;
  justify-items: center;
}

header > * {
  margin: auto 0;
}

header > nav {
  margin-left: auto;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  color: var(--header-text);
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 0.75em;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
}

h5 {
  font-size: 1em;
  font-weight: 500;
  margin: 0 0 0.5em;
}

hr {
  height: 0px;
  margin: 1.75em 0 1.75em;
  border-color: rgba(var(--full-color), 0.3) transparent transparent;
  border-radius: 100%;
  box-shadow: 0 -1px 0px 0px rgba(0,0,0,0.35);
}

p {
  margin: 0 0 1.5em;
}

button {
  padding: 0.55em 0.75em 0.5em;
  background: #ddd;
  border: none;
  border-radius: 2px;
  box-shadow: var(--element-shadow-mid);
  cursor: pointer;
}

button[options~="action"],
button[options~="cancel"] {
  color: rgb(var(--full-color));
  text-shadow: 0 1px 2px rgba(var(--no-color), 0.2);
} 

button[options~="action"] {
  background: rgb(var(--active-color));
} 

button[options~="cancel"] {
  background: var(--error-color);
} 

button[options~="icon"] {
  font-size: 1.25em;
  padding: .375em .4em .3em;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

ul {
  list-style: none;
}

ol {
  padding: 0 0 0 1em;
}

svg {
  height: var(--svg-size);
  width: var(--svg-size);
}

label {
  display: block;
  padding: 0 0 1em;
}

label > * {
  margin-top: 0.65em;
}

input:not([type]),
input[type="text"],
input[type="search"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  padding: 0.6em 0.5em;
  color: var(--page-text);
  font-size: var(--font-size);
  background: var(--input-bk);
  border: 1px solid var(--input-border);
  box-shadow: var(--element-shadow-mid) inset;
  outline: none;
  border-radius: 2px;
}

input:not([type]):focus,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus {
  border: 1px solid var(--element-border-focus);
}

/* SLIDE-PANELS */

slide-panel > header {
  display: flex;
  height: var(--header-height);
  color: var(--header-text);
}

slide-panel > header > * {
  align-self: center;
  margin: 0;
}

/* MODAL-OVERLAY */

modal-overlay {
  padding: 1em;
  z-index: 101;
}

modal-overlay > article {
  max-width: 500px;
  background: var(--header-bk);
  border-radius: var(--element-border-radius);
  box-shadow: var(--element-shadow-high);
}

modal-overlay > article > header {
  color: var(--page-text-hover);
}

modal-overlay header > [modal-close] {
  display: block;
  margin: 0 0 0 auto;
  padding: 0em;
  height: 2em;
  width: 2em;
  text-align: center;
  line-height: 2em;
  cursor: pointer;
}

modal-overlay header > [modal-close]:hover {
  background: var(--element-bk-hover);
}

modal-overlay > article > footer > * {
  margin: 0 1em;
}

modal-overlay > article > footer > *:first-child {
  margin: 0 0.4em 0 0;
}

modal-overlay > article > footer > *:last-child {
  margin: 0 0 0 0.4em;
}

/* NOTICE-BAR */

notice-bar > header {
  font-size: 1.15em;
  font-weight: 500 !important;
}

notice-bar[notice-type="success"] {
  color: #fff;
  background-color: var(--success-color);
}

notice-bar[notice-type="warning"] {
  background-color: var(--warning-color);
}

notice-bar[notice-type="error"] {
  color: #fff;
  background-color: var(--error-color);
}

notice-bar[notice-type="info"] {
  color: #fff;
  background-color: var(--info-color);
}

/* TAB-PANELS */

tab-panels > nav > * {
  background: var(--element-bk);
}

tab-panels > nav > *:focus {
  outline: none;
  background: #ccc;
}

tab-panels > nav > *[selected] {
  color: var(--full-color);
  background: var(--element-bk-active);
  border-color: #004c8a;
}

/* TAB-PANELS */

data-browser li > i {
  font-size: 1.5em;
  margin-right: 0.25em;
}

data-browser li > * {
  vertical-align: middle;
}

main > slide-panels > slide-panel {
  background: rgb(56 56 56);
}

main > slide-panels > slide-panel > header {
  position: relative;
  top: var(--header-height);
  border-bottom: 1px solid var(--header-border);
  background: var(--header-blue-bk);
  box-shadow: var(--element-shadow-mid);
}

main > slide-panels h2 {
  font-weight: 300;
  text-shadow: var(--text-shadow);
}

main > slide-panels h2 i {
  font-size: 0.9em;
  margin-right: 0.5em;
}

main > slide-panels > slide-panel > header > nav {
  padding: 0 0 0 1em;
  margin: 0 0 0 auto;
}

main > slide-panels > slide-panel > section {
  margin: var(--header-height) 0 0;
  padding: 2em 1.4em 2em;
}

main > slide-panels > slide-panel > section > * {
  max-width: 825px;
  margin: 0 auto;
}

main > slide-panels > slide-panel > header {
  padding: 0 calc(var(--header-height) / 4);
}

[block],
[list~="block"] > * {
  padding: 1.5em 1em 1.25em;
  background: rgb(var(--mild-color));
  /* border: 1px solid rgb(var(--dim-color)); */
  border-radius: var(--element-border-radius);
  box-shadow: var(--element-shadow-mid);
}

[list~="block"],
[toolbar] {
  display: flex;
  align-items: center;
}

[list~="rows"] > * {
  padding: 0.65em 0.55em 0.7em;
  border-top: 1px solid var(--element-border);
}

[toolbar] > * {
  margin: auto 0.4em;
}

[toolbar] > button {
  height: calc(100% - 2px);
}

[toolbar] > :first-child {
  margin-left: 0;
}

[toolbar] > :last-child {
  margin-right: 0;
}

[flex~="left"] {
  margin-left: auto;
}

[view-action="close"] {
  cursor: pointer;
}

[before-content] {
  display: flex;
  align-items: center;
  justify-content: center;
}

[before-content]:before {
  content: attr(before-content);
  display: block;
}

[banner] {
  display: flex;
  align-items: center;
  padding: 0.75em 1em;
  background: var(--element-bk-transparent);
}

  [banner] button {
    font-size: 90%;
    margin: 0 0 0 1em;
    padding: 0.35em 0.5em 0.3em;

  }

[banner~="warning"] {
  color: var(--error-color-light);
}

.sidenav {
  padding: 0 1.5em;
  box-shadow: var(--element-shadow-high);
  border-right: 1px solid rgba(255,255,255, 0.15);
}

.sidenav header {
  padding: 0;
}

.sidenav input[type="search"] {
  margin: 1em 0 1em;
}

.sidenav nav > * {
  display: block;
  padding: 0.6em 0.8em;
  color: var(--page-text-dim);
  text-shadow: var(--text-shadow);
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid rgb(var(--low-color));

}

.sidenav nav > *:hover {
  color: var(--page-text-hover);
  background: var(--element-bk-hover);
}

.sidenav nav [class*="fa-"] {
  margin-right: 0.75em;
}

/* SEMANTIC DATA VIEW */

.semantic-data-container {
  max-width: 700px;
}

#nav_toggle {
  height: var(--header-height);
  min-width: calc(var(--header-height) - 0.5em);
  z-index: 1;
  cursor: pointer;
}

#global_header {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: var(--header-height);
  width: 100%;
  padding-left: 0;
  border-bottom: 1px solid var(--header-border);
  background: var(--header-bk);
  box-shadow: var(--element-shadow-mid);
  z-index: 101;
}

#global_header nav {
  padding: 0 0.5em 0 1em;
}

#page_notices {
  z-index: 101;
}

/*** Layouts ***/




@media (max-width: 699px) {

}

@media (min-width: 699px) {
  #nav {
    transform: none;
  }

  #global_header {
    display: none;
  }

  main > slide-panels > slide-panel > header {
    top: 0;
  }

  main > slide-panels > slide-panel > section {
    margin: 0;
  }
}