
{% set no_footer = true %}
{% set no_nav = true %}
{% set css = ['view','popup', 'request-did/request-did'] %}
{% set js = [{ path: 'jshashes' }, { path: 'request-did/request-did', module: true }] %}

{% extends "default.html" %}


  {% block content %}

    <header class="panel-header">
      <h2>This site is requesting a DID from you</h2>
      <span view-action="close" flex="left">✕</span>
    </header>
    
    <h5>Create a new DID just for this site</h5>
    <p>
      Provides better privacy if you don't need interactions linked to a Persona.
    </p>
    <button id="create_pairwise_did" options="action"><i class="fas fa-user"></i> Create a new DID</button>

    <hr/>

    <div id="personas">
      <persona-list id="persona_list" options="autoload"></persona-list>
      <h5>Use one of your Personas</h5> 
      <p>
        Allows you to link your interactions to a Persona others may recognize.
      </p>
    </div>

    <footer banner="warning">
      Block this site from requesting DIDs? <button id="block_did_requests" view-action="close" options="cancel">Block</button>
    </footer>

  {% endblock %}

